In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split 
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
#import matplotlib.pyplot as plt
#from mpl_toolkits import mplot3d

In [ ]:
#retrieve dataset
url = 'https://raw.githubusercontent.com/ncmerem/LinearRegression/main/wqW.csv'
data = pd.read_csv(url, sep=';')
data.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.0              0.27         0.36  ...       0.45      8.8        6
1            6.3              0.30         0.34  ...       0.49      9.5        6
2            8.1              0.28         0.40  ...       0.44     10.1        6
3            7.2              0.23         0.32  ...       0.40      9.9        6
4            7.2              0.23         0.32  ...       0.40      9.9        6

[5 rows x 12 columns]

In [ ]:
data.describe()

       fixed acidity  volatile acidity  ...      alcohol      quality
count    4898.000000       4898.000000  ...  4898.000000  4898.000000
mean        6.854788          0.278241  ...    10.514267     5.877909
std         0.843868          0.100795  ...     1.230621     0.885639
min         3.800000          0.080000  ...     8.000000     3.000000
25%         6.300000          0.210000  ...     9.500000     5.000000
50%         6.800000          0.260000  ...    10.400000     6.000000
75%         7.300000          0.320000  ...    11.400000     6.000000
max        14.200000          1.100000  ...    14.200000     9.000000

[8 rows x 12 columns]

In [ ]:
data_z = (data - data.mean()) / data.std()
data_z.describe()

       fixed acidity  volatile acidity  ...       alcohol       quality
count   4.898000e+03      4.898000e+03  ...  4.898000e+03  4.898000e+03
mean    2.653755e-14     -1.053431e-14  ... -2.846868e-14  3.622675e-16
std     1.000000e+00      1.000000e+00  ...  1.000000e+00  1.000000e+00
min    -3.619982e+00     -1.966784e+00  ... -2.043089e+00 -3.249530e+00
25%    -6.574340e-01     -6.770318e-01  ... -8.241915e-01 -9.912727e-01
50%    -6.492444e-02     -1.809733e-01  ... -9.285319e-02  1.378561e-01
75%     5.275851e-01      4.142970e-01  ...  7.197450e-01  1.378561e-01
max     8.704217e+00      8.152811e+00  ...  2.995020e+00  3.525242e+00

[8 rows x 12 columns]

In [ ]:
sigma = data.std()
mu = data.mean()
print("Standard Deviations\n", sigma)
print("\nAverages\n", mu)

Standard Deviations
 fixed acidity            0.843868
volatile acidity         0.100795
citric acid              0.121020
residual sugar           5.072058
chlorides                0.021848
free sulfur dioxide     17.007137
total sulfur dioxide    42.498065
density                  0.002991
pH                       0.151001
sulphates                0.114126
alcohol                  1.230621
quality                  0.885639
dtype: float64

Averages
 fixed acidity             6.854788
volatile acidity          0.278241
citric acid               0.334192
residual sugar            6.391415
chlorides                 0.045772
free sulfur dioxide      35.308085
total sulfur dioxide    138.360657
density                   0.994027
pH                        3.188267
sulphates                 0.489847
alcohol                  10.514267
quality                   5.877909
dtype: float64

In [ ]:
def mse_cost(feature, target, weight):
  se = np.power(((feature * weight.T) - target), 2)
  return np.sum(se) / (2 * len(feature))

In [ ]:
def train(features, target, weights, step, iters):
  temp = np.matrix(np.zeros(weights.shape))
  
  parameters = int(weights.ravel().shape[1])
  
  cost = np.zeros(iters + 1)
  cost[0] = mse_cost(features, target, weights)
  
  for i in range(iters):
    error = (features * weights.T) - target
    
    for j in range(parameters):
      term = np.multiply(error, features[:,j])
      temp[0,j] = weights[0,j] - ((step / len(features)) * np.sum(term))
      
    weights = temp
    cost[i + 1] = mse_cost(features, target, weights)

    if i % 10 == 0:
      print ("iter={}    cost={}".format(i, cost[i]))
    
  return weights, cost

In [ ]:
'''
def test(features, target, weights):
  predictions = features * weights.T
  test_mse = mse_cost(features, target, weights)
  return predictions, test_mse
'''

'\ndef test(features, target, weights):\n  predictions = features * weights.T\n  test_mse = mse_cost(features, target, weights)\n  return predictions, test_mse\n'

In [ ]:
data_z['x_0'] = 1
X = data_z.drop(['quality'], axis=1)
y = data_z['quality']

In [ ]:
X = np.matrix(X.values)
y = np.matrix(y.values).T
W = np.matrix(np.zeros(shape=[1,X.shape[1]]))

In [ ]:
print(X.shape, y.shape, W.shape)

(4898, 12) (4898, 1) (1, 12)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 3)
print(X_train.shape, y_train.shape, W.shape)
print(X_test.shape, y_test.shape)

(3918, 12) (3918, 1) (1, 12)
(980, 12) (980, 1)

In [ ]:
mse_cost(X_train, y_train, W)

0.4930676279622134

In [ ]:
lr = 0.01
iters = 1000
W_final, cost = train(X_train, y_train, W, lr, iters)

iter=0    cost=0.4930676279622134
iter=10    cost=0.4596196454418549
iter=20    cost=0.4380588459991032
iter=30    cost=0.4233332282474974
iter=40    cost=0.41270161589102144
iter=50    cost=0.404644485231683
iter=60    cost=0.3982946878451881
iter=70    cost=0.39313854180688074
iter=80    cost=0.388857818216767
iter=90    cost=0.38524537908105955
iter=100    cost=0.3821594930083651
iter=110    cost=0.37949860058520146
iter=120    cost=0.3771869990717154
iter=130    cost=0.3751664403389812
iter=140    cost=0.37339099442568374
iter=150    cost=0.3718237644756719
iter=160    cost=0.37043468689305564
iter=170    cost=0.36919899345030843
iter=180    cost=0.3680960953433389
iter=190    cost=0.3671087485318325
iter=200    cost=0.36622241462552596
iter=210    cost=0.3654247627427333
iter=220    cost=0.36470527604373304
iter=230    cost=0.36405493778486925
iter=240    cost=0.3634659788302682
iter=250    cost=0.3629316732701768
iter=260    cost=0.3624461720551968
iter=270    cost=0.3620043668915628
iter=280    cost=0.36160177836420704
iter=290    cost=0.3612344635511864
iter=300    cost=0.3608989393859334
iter=310    cost=0.36059211879305025
iter=320    cost=0.36031125722455043
iter=330    cost=0.36005390769628903
iter=340    cost=0.3598178827980017
iter=350    cost=0.35960122244681947
iter=360    cost=0.35940216639002176
iter=370    cost=0.35921913065102795
iter=380    cost=0.359050687263201
iter=390    cost=0.358895546756772
iter=400    cost=0.3587525429612347
iter=410    cost=0.35862061976373905
iter=420    cost=0.3584988195271591
iter=430    cost=0.3583862729226389
iter=440    cost=0.35828218997294004
iter=450    cost=0.35818585213671544
iter=460    cost=0.35809660529145004
iter=470    cost=0.3580138534954261
iter=480    cost=0.35793705342766796
iter=490    cost=0.3578657094201635
iter=500    cost=0.3577993690093549
iter=510    cost=0.3577376189444495
iter=520    cost=0.3576800815989019
iter=530    cost=0.3576264117387939
iter=540    cost=0.3575762936080405
iter=550    cost=0.35752943829558465
iter=560    cost=0.3574855813541836
iter=570    cost=0.35744448064417106
iter=580    cost=0.3574059143788081
iter=590    cost=0.3573696793506132
iter=600    cost=0.35733558932044884
iter=610    cost=0.3573034735532142
iter=620    cost=0.35727317548578486
iter=630    cost=0.3572445515144124
iter=640    cost=0.3572174698901586
iter=650    cost=0.357191809712147
iter=660    cost=0.3571674600094668
iter=670    cost=0.3571443189035037
iter=680    cost=0.3571222928432903
iter=690    cost=0.35710129590721246
iter=700    cost=0.3570812491650523
iter=710    cost=0.3570620800949354
iter=720    cost=0.3570437220502677
iter=730    cost=0.3570261137722142
iter=740    cost=0.3570091989436899
iter=750    cost=0.3569929257812049
iter=760    cost=0.3569772466612502
iter=770    cost=0.35696211777820563
iter=780    cost=0.3569474988310351
iter=790    cost=0.3569333527362741
iter=800    cost=0.3569196453650448
iter=810    cost=0.3569063453020316
iter=820    cost=0.35689342362453846
iter=830    cost=0.3568808536999108
iter=840    cost=0.35686861099976125
iter=850    cost=0.35685667292957074
iter=860    cost=0.3568450186723644
iter=870    cost=0.35683362904527394
iter=880    cost=0.35682248636790026
iter=890    cost=0.3568115743414867
iter=900    cost=0.35680087793799414
iter=910    cost=0.3567903832982525
iter=920    cost=0.3567800776384299
iter=930    cost=0.3567699491641258
iter=940    cost=0.35675998699145794
iter=950    cost=0.3567501810745585
iter=960    cost=0.35674052213895335
iter=970    cost=0.3567310016203345
iter=980    cost=0.3567216116082844
iter=990    cost=0.356712344794542

In [ ]:
mse_cost(X_train, y_train, W_final)

0.3567031944254385

In [ ]:
mse_cost(X_test, y_test, W_final)

0.37922630809035096