In [32]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split 
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt

In [33]:
# retrieve dataset
url = 'https://raw.githubusercontent.com/ncmerem/LinearRegression/main/wqW.csv'
data = pd.read_csv(url, sep=';')
data.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.0              0.27         0.36  ...       0.45      8.8        6
1            6.3              0.30         0.34  ...       0.49      9.5        6
2            8.1              0.28         0.40  ...       0.44     10.1        6
3            7.2              0.23         0.32  ...       0.40      9.9        6
4            7.2              0.23         0.32  ...       0.40      9.9        6

[5 rows x 12 columns]

# Using sklearn Library for Linear Regression

In [34]:
# split data into training and testing sets
X = data.drop(['quality'], axis=1)
y = data['quality']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 3)

In [35]:
# create and train model
lm = linear_model.LinearRegression(fit_intercept=True, normalize=True)
lm.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [36]:
# use model to predict y values for testing data
predictions = lm.predict(X_test)

In [37]:
# evaluate model
yt = y_test.to_numpy()

# mean squared error
print(mean_squared_error(yt, predictions))

# R^2
print(r2_score(yt, predictions))

0.5906658099548034
0.2832037191111073